﻿@model pokerasa.Models.Casa

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Casa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cidade.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cidade.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proprietario.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proprietario.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeDaCasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeDaCasa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereço)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereço)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
