﻿@model pokerasa.Models.Casa

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Casa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cidade.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cidade.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proprietario.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proprietario.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeDaCasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeDaCasa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereço)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereço)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CasaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
