﻿@model IEnumerable<pokerasa.Models.Casa>

@{
    ViewBag.Title = "Casas de Poker";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="textodotitulo">Casas de Poker Cadastradas</h1>

<p>
    @Html.ActionLink("Cadastrar nova", "Create", new { area = "" }, new { @class = "btn fundo-pokerasa-preto text-light" })
</p>
<table class="table table-responsive table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cidade.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.proprietario.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeDaCasa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereço)
            </th>
            <th></th>
        </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.cidade.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.proprietario.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeDaCasa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereço)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CasaID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CasaID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CasaID })
                </td>
            </tr>
        }

</table>
