﻿@model pokerasa.Models.Negociacao

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutJog.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    


    @*<div class="form-horizontal">
        O jogador do CPF:  <b>@ViewBag.CPF</b>  ID DA CONTA:@ViewBag.ID // deseja efetuar a negociação da dívida do valor de R$: <b>@ViewBag.Valor</b> que fora registrada em seu nome em: <b>@ViewBag.DataRegistro</b>
        <hr />
    </div>*@

<div class="container">

    <h1 class="textodotitulo">Negociação de dívida</h1>

<hr />
    <h5>
        Você está prestes a negociar a pendência registrada para o <b> CPF @ViewBag.CPF</b>, no valor de <b> R$: @ViewBag.Valor</b> registrada em <b>@ViewBag.DataRegistro</b>.<br /><br /> Para prosseguir com o pagamento e retirar seu nome da base de inadimplentes,
        siga as instruções abaixo:

    </h5>


    <img src="~/Content/Image/SEMFUNDO.png" class="img-fluid logopokerasagrande" />

</div>


    Session["NegociacaoID"] = @ViewBag.ID;
}
<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
    <!--Tipo do botão-->
    <input type="hidden" name="cmd" value="_xclick" />

    <!--Vendedor e URL de retorno, cancelamento e notificação-->
    <input type="hidden" name="business" value="responsivegroupfgt@gmail.com" />
    <input type="hidden" name="return" value="@ViewBag.Servidor/Negociacoes/SalvarCompra" />
    
    <input type="hidden" name="cancel" value="@ViewBag.Servidor/Negociacoes/Index" />
    <input type="hidden" name="notify_url" value="http://loja.com.br/notificacao" />
    <!--Internacionalização e localização da página de pagamento-->
    <input type="hidden" name="charset" value="utf-8" />
    <input type="hidden" name="lc" value="BR" />
    <input type="hidden" name="country_code" value="BR" />
    <input type="hidden" name="currency_code" value="BRL" />
    <!--Informações sobre o produto e seu valor-->
    <input type="hidden" name="item_name" value="Divida no CPF: @ViewBag " />
    <input type="hidden" name="amount" value="@ViewBag.Valor" />
    <input type="hidden" name="quantity" value="1" />
    <!--Botão para submissão do formulário-->
    <input type="image" src="~/Content/Image/2jayijo.png" class="img-fluid logopokerasagrande" />
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
