﻿@model pokerasa.Models.Negociacao

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutJog.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Negociacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataNeg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNeg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorAjustado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorAjustado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Formapgt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Formapgt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NegociacaoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
