﻿@model IEnumerable<pokerasa.Models.Negociacao>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutJog.cshtml";
}

<h1 class="textodotitulo">Histórico de negociações</h1>
<hr />
<h4>Abaixo você vê o histórico de pendências que foram negociadas através de nossa plataforma.</h4>

<hr />


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">

            <div class="card">
               
                    <div class="card-header fundo-pokerasa-vermelho text-light">
                        Quando: @Html.DisplayFor(modelItem => item.DataNeg)
                    </div>
               
                <div class="card-body text-dark font-weight-bold">
                    <h5 class="card-title"><b>Valor:</b> R$ @Html.DisplayFor(modelItem => item.ValorAjustado)</h5>
                    <div class="card-text">
                        <p><b>Pago com: </b>@Html.DisplayFor(modelItem => item.Formapgt) </p>
                        <p> Obrigado por confiar no Pokerasa para realizar seus pagamentos! </p>
                    </div>

                </div>
            </div>
            <br />
            <br />

        </div>
    }
</div>

