﻿@{
    ViewBag.Title = "Pokerasa - Página Inicial";
    Layout = "~/Views/Shared/_LayoutErro.cshtml";
}



@*<h1 class="site-heading text-center text-white d-none d-lg-block">*@
    @*<span class="site-heading-lower texto-vermelho-pokerasa mb-3">POKERASA</span>
    <span class="site-heading-upper textos-preto-pokerasa ">Responsive Group</span>*@
    <div class="poke">
        @*<img class="" src="~/Content/Image//imagem.png" alt="" >*@

        <img src="~/Content/Image/Pokerasa-sem-fundo.png" style="margin-left:-12%;margin-top:7%;" />
    
    </div>
   
    
@*</h1>*@

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4 fundo-cards">
    <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active px-lg-4">
                    <a class="nav-link text-uppercase text-expanded text-dark" href="index.html">
                        Página inicial
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded text-dark" href="/Publico/Logar/">Acesse nossa plataforma</a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="~/Content/Image//essa.png" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-LOWER">Pokerasa</span>
                    <span class="section-heading-lower">+Segurança  <br />+Confiabilidade<br /> </span>
                        <span class="section-heading-LOWER">ao mundo do poker</span>
                </h2>
                <p class="mb-3">
                    Você está pronto para elevar o seu empreendimento a um novo nível de segurança? Venha conhecer nosso projeto e <br />surpreenda-se!
                </p>
                <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" href="#caixa">Conheça-nos</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section cta">
    <div class="container" id="caixa">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper text-light">Caro empreendedores ...</span>
                        <span class="section-heading-lower text-light">O pokerasa</span>
                    </h2>
                    <span class="textpoke">
                        <p>É uma solução pensada para trazer segurança aos empresários do ramo, mantendo um cadastro atualizado de jogadores e seus débitos, permitindo que a casa veja o histórico de cada jogador antes de aceitá-lo, trazendo mais confiabilidade aos proprietários e jogadores.</p>
                        </span>
</div>
            </div>
        </div>
    </div>
</section>

