﻿@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";}

<div class="container">
    <div id="spinner">  </div>
    <h1 class="textodotitulo">O que você deseja gerenciar?</h1><br />

    <div class="row">
        <div class="col-md-3">

            <div class="card card-tile fundo-card-pokerasa text-light " id="administradores" @*style="width: 18rem;"*@ style="height: 230px;">
                <div class="card-header"> </div>
                @*<img class="card-img-top img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJan2O7AJhL-VE_BUfr3hzCr1tNGI7uYxit4ryrNPLgviZxwku5A" alt="Card image cap">*@
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">
                        <span class="oi oi-person icone-medio text-center" title="Administradores" aria-hidden="true"></span><br />

                    </p>
                    <h4 class="textodastiles">Administradores</h4>
                    @*@Html.ActionLink("Acessar", "Index", "Administradores", new { area = "" }, new { @class = "btn fundo-pokerasa-preto text-light" })<br />*@
                </div>


            </div>
            <br /><br />
        </div>
        <div class="col-md-3">

            <div class="card card-tile fundo-card-pokerasa text-light " id="proprietarios" @*style="width: 18rem;"*@ style="height: 230px;">
                <div class="card-header"></div>

                @*<img class="card-img-top img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJan2O7AJhL-VE_BUfr3hzCr1tNGI7uYxit4ryrNPLgviZxwku5A" alt="Card image cap">*@
                <div class="card-body">
                    <h4 class="card-title"></h4>
                    <p class="card-text">
                        <span class="oi oi-briefcase icone-medio text-center" title="Proprietarios" aria-hidden="true"></span><br />

                    </p>
                    <h4 class="align-bottom textodastiles">Proprietarios</h4>
                    @*@Html.ActionLink("Acessar", "Index", "Proprietarios", new { area = "" }, new { @class = "btn fundo-pokerasa-preto text-light" })<br />*@
                </div>


            </div>
            <br /><br />
        </div>
        <div class="col-md-3">

            <div class="card card-tile fundo-card-pokerasa text-light " id="jogadores" @*style="width: 18rem;"*@ style="height: 230px;">
                <div class="card-header"></div>
                @*<img class="card-img-top img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJan2O7AJhL-VE_BUfr3hzCr1tNGI7uYxit4ryrNPLgviZxwku5A" alt="Card image cap">*@
                <div class="card-body">
                    <h4 class="card-title"></h4>
                    <p class="card-text">
                        <span class="oi oi-people icone-medio text-center" title="Jogadores" aria-hidden="true"></span><br />

                    </p>
                    <h4 class="textodastiles">Jogadores</h4>
                    @*@Html.ActionLink("Acessar", "Index", "Jogadores", new { area = "" }, new { @class = "btn fundo-pokerasa-preto text-light" })<br />*@
                </div>


            </div>
            <br /><br />
        </div>

        <div class="col-md-3">

            <div class="card card-tile fundo-card-pokerasa text-light " id="funcionarios" style="height: 230px;" @*style="width: 18rem;"*@>
                <div class="card-header">  </div>
                @*<img class="card-img-top img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJan2O7AJhL-VE_BUfr3hzCr1tNGI7uYxit4ryrNPLgviZxwku5A" alt="Card image cap">*@
                <div class="card-body">
                    <h4 class="card-title"></h4>
                    <p class="card-text">
                        <span class="oi oi-dashboard icone-medio text-center" title="Funcionarios" aria-hidden="true"></span><br />

                    </p>
                    <h4 class="textodastiles">Funcionários</h4>
                    @*@Html.ActionLink("Acessar", "Index", "Funcionarios", new { area = "" }, new { @class = "btn fundo-pokerasa-preto text-light" })<br />*@

                </div>

            </div>
            <br /><br />
        </div>

    </div>


</div>


@section scripts {
    
    <script>

        $('#administradores').on('click', function (event) {
           window.location.href = "@Url.Action("Index", "Administradores")";
        });

         $('#proprietarios').on('click', function (event) {
           window.location.href = "@Url.Action("Index", "Proprietarios")";
        });
         $('#jogadores').on('click', function (event) {
           window.location.href = "@Url.Action("Index", "Jogadores")";
        });

        $('#funcionarios').on('click', function (event) {
           window.location.href = "@Url.Action("Index", "Funcionarios")";
        });



        $(".card-tile").click(function () {
           // $(this).after("<img src='loading_image.gif' alt='loading' />").fadeIn();
            $("#spinner").fadeIn(); 
        });

    </script>



    }

