﻿@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{pokerasa.Models.Usuario usuario = pokerasa.Repositories.Funcoes.GetUsuario(); }


@if (usuario != null)
{
    <h1 class="text-light open-sans textodotitulo">Olá, @usuario.Nome !</h1>
}

<div id="spinner">  </div>
<br />
<div class="container open-sans">



    <div class="row">
        <div class="col-md-4">

            <div class="card card-tile fundo-card-pokerasa text-light " style="height: 230px;" id="usuarios">
                <div class="card-header">
                    @*<img class="card-img-top img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJan2O7AJhL-VE_BUfr3hzCr1tNGI7uYxit4ryrNPLgviZxwku5A" alt="Card image cap">*@

                </div>
                <div class="card-body">
                    <h4 class="card-title"></h4>
                    <p class="card-text align-items-md-center ">
                        <span class="oi oi-person icone-grande text-center" title="Usuários" aria-hidden="true"></span><br />
                    </p>

                    <h3 class="align-bottom textodastiles">Gerenciar usuários</h3>
                </div>
            </div>
            <br /><br />
        </div>
        <div class="col-md-4">

            <div class="card card-tile  fundo-card-pokerasa text-light " style="height: 230px;" id="casas">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <h4 class="card-title"></h4>
                    <p class="card-text">
                        <span class="oi oi-home icone-grande" title="Casas" aria-hidden="true"></span><br />
                    </p>
                    <h3 class="align-bottom textodastiles">Gerenciar casas</h3>
                    @*@Html.ActionLink("Acessar", "Index", "Casas", new { area = "" }, new { @class = "btn fundo-pokerasa-preto text-light" })<br />*@
                </div>
            </div>
            <br /><br />

        </div>
        <div class="col-md-4">

            <div class="card card-tile fundo-card-pokerasa text-light " style="height: 230px;" id="localidades">
                <div class="card-header">
                </div>
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title"></h4>
                    <p class="card-text">
                        <span class="oi oi-map-marker icone-grande text-center" title="Cidades" aria-hidden="true"></span><br />
                        <h3 class="textodastiles">Gerenciar cidades</h3>
                    </p>


                    @*@Html.ActionLink("Acessar", "Index", "Cidades", new { area = "" }, new { @class = "btn fundo-pokerasa-preto text-light" })<br />*@
                </div>
                <div class="card-footer"></div>
            </div>

        </div>


    </div>
</div>
<div class="container">
    <img src="~/Content/Image/Pokerasa-sem-fundo.png" class="img-fluid logopokerasagrande" />
</div>
@*<h2 class="text-danger">Cadastrar</h2>
    @Html.ActionLink("Cadastrar Usuários", "CadastrarNovo", "Administradores")<br />
    @Html.ActionLink("Casas de Poker", "Create", "Casas")<br />

    <h2 class="text-danger">Listar/Editar</h2>
    @Html.ActionLink("Administradores", "Index", "Administradores")<br />
    @Html.ActionLink("Proprietários", "Index", "Proprietarios")<br />
    @Html.ActionLink("Jogadores", "Index", "Jogadores")<br />
    @Html.ActionLink("Funcionarios", "Index", "Funcionarios")<br />
    @Html.ActionLink("Casas de Poker", "Index", "Casas")<br />
    @Html.ActionLink("Cidades", "Index", "Cidades")<br />
    @Html.ActionLink("Estados", "Index", "Estados")<br />*@










@section scripts {

    <script>



        $('#usuarios').on('click', function (event) {
            $("#spinner").fadeIn();
            window.location.href = "@Url.Action("CadastrarNovo", "Administradores")";

        });

        $('#casas').on('click', function (event) {
          $("#spinner").fadeIn();
            window.location.href = "@Url.Action("Index", "Casas")";
        });

        $('#localidades').on('click', function (event) {
            $("#spinner").fadeIn();
 window.location.href = "@Url.Action("Index", "Cidades")";
        });


        $('li').on('click', function (event) {
            $("#spinner").fadeIn();

        });


    </script>





}

