﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pokerasa</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/css/open-iconic-bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/alertify.min.js"></script>
    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />

</head>
<body class="open-sans bodylogin">


    @*<nav class="navbar navbar-expand-md navbar-dark fundo-pokerasa-preto fixed-top">
        <a class="navbar-brand" href="#"><img src="~/Content/Image/Pokerasa-sem-fundo.png" style="max-height:35px;" /></a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav mr-auto"></ul>

            <ul class="navbar-nav">
                <li class="nav-item ">
                    @Html.ActionLink("Logar", "Logar", "Publico", new { area = "" }, new { @class = "btn btn-success" })

                </li>
            </ul>

        </div>
    </nav>*@


    <div style="height: 100vh;">
        <div class="container-fluid h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 hidden-sm-down not-visible sempadding bg-info" id="esquerdalogin">

                    <img src="~/Content/Image/Pokerasa-sem-fundo.png" style="margin-left:10%; margin-top:27%;" class="img-fluid hidden-sm-down" />


                </div>


                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 sempadding" id="direitalogin">
                    @RenderBody()
                </div>

            </div>

        </div>




    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @section scripts {
        
        @*<script>
            function redimensionar(obj) {
                obj.style.height = obj.contentWindow.document.body.scrollHeight + 30 + 'px';
            }

        </script>*@
        
        
        }
</body>
</html>
