﻿<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pokerasa</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/css/open-iconic-bootstrap.css" rel="stylesheet" />
</head>
<body class="fundo-cinza text-light open-sans">

        @{
        pokerasa.Models.Usuario usuario = pokerasa.Repositories.Funcoes.GetUsuario();



        if (usuario == null)
        {
            <script type="text/javascript">
              //  alert("Usuário nulo!");
                window.location.href = "@Url.Action("AcessoNegado","Publico")";

            </script>
            @RenderBody()
        }
        else
        {



            if (usuario.Tipo == "adm" || usuario.Tipo == "fun" || usuario.Tipo == "pro")
            {

                if (usuario.Tipo == "adm")
                {

                    <nav class="navbar navbar-expand-md navbar-dark fundo-pokerasa-preto fixed-top">
                        <a class="navbar-brand" href="@Url.Action("Home","Administradores")"><img src="~/Content/Image/Pokerasa-sem-fundo.png" style="max-height:35px;" /></a>


                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarsExample04">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    @Html.ActionLink("Inicio", "Home", "Administradores", new { area = "" }, new { @class = "nav-link" })
                                </li>


                            </ul>

                            <ul class="navbar-nav">
                                <li class="nav-item ">
                                    @Html.ActionLink("Sair", "Logoff", "Publico", new { area = "" }, new { @class = "btn btn-danger" })

                                </li>
                            </ul>

                        </div>
                    </nav>

                }
                if (usuario.Tipo == "jog")
                {

                    <nav class="navbar navbar-expand-md navbar-dark fundo-pokerasa-preto fixed-top">
                        <a class="navbar-brand" href="@Url.Action("Home","Jogadores")"><img src="~/Content/Image/Pokerasa-sem-fundo.png" style="max-height:35px;" /></a>


                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarsExample04">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    @Html.ActionLink("Inicio", "Home", "Jogadores", new { area = "" }, new { @class = "nav-link" })
                                </li>


                            </ul>

                            <ul class="navbar-nav">
                                <li class="nav-item ">
                                    @Html.ActionLink("Sair", "Logoff", "Publico", new { area = "" }, new { @class = "btn btn-danger" })

                                </li>
                            </ul>

                        </div>
                    </nav>

                }

                if (usuario.Tipo == "fun")
                {

                    <nav class="navbar navbar-expand-md navbar-dark fundo-pokerasa-preto fixed-top">
                        <a class="navbar-brand" href="@Url.Action("Home","Funcionarios")"><img src="~/Content/Image/Pokerasa-sem-fundo.png" style="max-height:35px;" /></a>


                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarsExample04">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    @Html.ActionLink("Inicio", "Home", "Funcionarios", new { area = "" }, new { @class = "nav-link" })
                                </li>


                            </ul>

                            <ul class="navbar-nav">
                                <li class="nav-item ">
                                    @Html.ActionLink("Sair", "Logoff", "Publico", new { area = "" }, new { @class = "btn btn-danger" })

                                </li>
                            </ul>

                        </div>
                    </nav>

                }

                      if (usuario.Tipo == "pro")
                {

                    <nav class="navbar navbar-expand-md navbar-dark fundo-pokerasa-preto fixed-top">
                        <a class="navbar-brand" href="@Url.Action("Home","Proprietarios")"><img src="~/Content/Image/Pokerasa-sem-fundo.png" style="max-height:35px;" /></a>


                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarsExample04">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    @Html.ActionLink("Inicio", "Home", "Proprietarios", new { area = "" }, new { @class = "nav-link" })
                                </li>


                            </ul>

                            <ul class="navbar-nav">
                                <li class="nav-item ">
                                    @Html.ActionLink("Sair", "Logoff", "Publico", new { area = "" }, new { @class = "btn btn-danger" })

                                </li>
                            </ul>

                        </div>
                    </nav>

                }

                <div class="container body-content corpo">
                    @RenderBody()

                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - Desenvolvido por Responsive Group</p>
                    </footer>

                </div>
            }
            else
            {
                <script type="text/javascript">
                //    alert("Usuário incorreto!");
                window.location.href = "@Url.Action("AcessoNegado","Publico")";

                </script>
                @RenderBody()
            }

        }
    }


    @*<div>
            @RenderBody()
        </div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    @section Scripts {

        <script>
            function goBack() {
                window.history.back();
            }
        </script>

    }
</body>
</html>
