﻿@{
    Layout = "~/Views/Shared/_LayoutProFunAdm.cshtml";
}

<h1 class="textodotitulo">Consultar cadastro de jogador</h1>

<br /><br />
@using (Html.BeginForm("SearchCpf", "Dividas", null, FormMethod.Post))
{


<div class="container text-dark">
    <div class="jumbotron">
        <h4 class="open-sans font-weight-bold">Aqui você consulta se determinado jogador possui pendências em seu nome.</h4><br /><br />
        <div class="row">
        <div class="card semfundo">  
            <div class="card-body semfundo">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-12">
                        @*@Html.TextBox("SearchString")*@
                        Insira o CPF:  <input type="text" name="SearchCpf" id="SearchCpf" class="form-control" value="@ViewBag.Pesquisa" />
                        <input type="submit" value="Pesquisar" class="btn btn-secondary fundo-pokerasa-preto" />
                    </div>
                </div>
            </div>
            </div> 
    </div>
    </div>
</div>
}

@section Scripts {

    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/jquery.mask.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.pt-BR.min.js"></script>
    <script>
        $(function () {


            $("#SearchCpf").mask('000.000.000-00');

        });
    </script>
}
