﻿@model pokerasa.Models.Divida

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutProFunAdm.cshtml";
}

<h1 class="textodotitulo">Registrar nova dívida</h1>

<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="container text-dark">

        <div class="jumbotron fundo-cards">

            <h4 class="open-sans">Você está registrando uma nova dívida para o jogador <b>@ViewBag.NomeJogador</b> de CPF <b>@ViewBag.Cpf</b></h4><br /><br />

            <div class="row">
                <div class="col-md-3 col-sm-4">

                    <div class="card semfundo"style="height:120px;">
                        <div class="card-body">
                            <b>Insira as informações nos campos a seguir e clique em enviar.</b>


                        </div>
                    </div>
                    <br />
                </div>

                <div class="col-md-3 col-sm-4">

                    <div class="card semfundo"style="height:120px;">
                        <div class="card-body">
                            @Html.LabelFor(model => model.Valor, htmlAttributes: new { @class = "control-label font-weight-bold" })

                            @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                </div>

                <div class="col-md-3 col-sm-4">

                    <div class="card semfundo"style="height:120px;">
                        <div class="card-body">
                            <div class="control-label font-weight-bold">Prazo de negociação</div>
                            <div class="col-md-12">
                                <input type="radio" name="YourRadioButton" value="1" checked>5 dias<br />
                                <input type="radio" name="YourRadioButton" value="2">10 dias<br />
                                <input type="radio" name="YourRadioButton" value="3">15 dias<br />
                            </div>
                        </div>
                    </div>
                    <br />
                </div>

                <div class="col-md-3 col-sm-4">

                    <div class="card semfundo"style="height:120px;">
                        <div class="card-body">
                            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label font-weight-bold" })

                            @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <br />
                </div>

                <div class="col-md-3 col-sm-4">

                    <div class="card semfundo" style="height:120px;">
                        <div class="card-body">
                            <div class="control-label font-weight-bold">
                                Casa da dívida
                            </div>

                            @Html.DropDownList("CasaID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CasaID, "", new { @class = "text-danger" })


                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                </div>



                   <div class="col-md-3 col-sm-4">

                    <div class="card fundo-card-pokerasa card-tile" style="height:120px;">
                        <div class="card-body">
                            @*<input type="submit" value="Enviar" class="text-white semfundo" />*@
                            <br />
                            <button type="submit" class="btn-link text-white" id="enviar"><h1>Enviar</h1></button>

                        </div>
                    </div>
                    <br />
                </div>
            </div>




           
        </div>
    </div>
    
             
                <div class="esconder">
                    <input name="CpfJogador" value="@ViewBag.Cpf" class="form-control" />
                </div>
                

                <div class="esconder">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UsuarioID, "UsuarioID", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("UsuarioID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UsuarioID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                   
           
      
     
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
