﻿@model pokerasa.Models.Divida

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutProFunAdm.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Divida</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Casa.NomeDaCasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Casa.NomeDaCasa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CpfDoJogador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CpfDoJogador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDeRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDeRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrazoNegociacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrazoNegociacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFinalizada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFinalizada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
