﻿@model pokerasa.Models.Divida

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutJog.cshtml";
}


<div>


    <div class="container">


        <h1 class="textodotitulo text-white">Detalhes da dívida</h1>

        <h3 class="text-white">Abaixo você pode ver os detalhes da dívida registrada em seu nome.</h3>
        <hr />
        <div class="row">

            <div class="col-md-3 col-sm-12"></div>
            <div class="col-md-5 col-sm-12">


                <div class="jumbotron fundo-cards text-dark">


                    <dl class="dl-horizontal">
                        <dt>
                            Casa originária da dívida:
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Casa.NomeDaCasa)
                        </dd>

                        <dt>
                            Quem registrou a dívida:
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Usuario.Nome)
                        </dd>

                        <dt>
                            Nome do jogador:
                        </dt>

                        <dd>
                            @ViewBag.NomeDoJogador
                        </dd>

                        <dt>
                            CPF do jogador:
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CpfDoJogador)
                        </dd>

                        <dt>
                            Data de inserção no sistema:
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DataDeRegistro)
                        </dd>

                        <dt>
                            Valor da dívida:
                        </dt>

                        <dd>
                            R$ @Html.DisplayFor(model => model.Valor)
                        </dd>

                        <dt>
                            Prazo máximo para negociação:
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PrazoNegociacao)
                        </dd>

                        <dt>
                            Descrição da ocorrência
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Descricao)
                        </dd>

                        <dt>
                            Status da dívida:
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Status)
                        </dd>

                    </dl>
                    <p>

                        @Html.ActionLink("Retornar à lista", "VerDividas")
                    </p>
                </div>



            </div>


        </div>


    </div>





  
</div>

<p>
   @Html.ActionLink("Retonar à lista", "Index")
</p>
