﻿@{
    Layout = "~/Views/Shared/_LayoutProFunAdm.cshtml";
}


@*<h1>OPS! Nenhum objeto foi encontrado! Você fez a sua pesquisa corretamente?</h1>*@
<div class="container">
    <img src="~/Content/Image/CADASTRO2.png" class="img-fluid" />
</div>
<button onclick="goBack()">Voltar</button>

@section Scripts {

    <script>
        function goBack() {
            window.history.back();
        }
    </script>

    }