﻿@{
    Layout = "~/Views/Shared/_LayoutProFunAdm.cshtml";
}
@model IEnumerable<pokerasa.Models.Historico>


@if (ViewBag.pen == "sim")
{
<div class="container">
    <img src="~/Content/Image/CADSTRO1.png" class="img-fluid" />
    <br><br />
    <h1 class="textodotitulo text-center">Há algo errado</h1>

    <br />

    <div class="row">
        <div class="col-md-3 col-xs-12"></div>
        <div class="col-md-6 col-xs-12 fundo-carteado">
            <div class="container">
                <br /><hr />
                <h4>
                    O jogador <b>@ViewBag.Nome</b> possui uma ou mais pendências registradas em seu nome. Infelizmente não podemos mostrá-las, mas ele poderá ver sua situação acessando nossa plataforma.
                </h4>
                @if (ViewBag.Media == "0")
    {
                    <br />
            <img src="~/Content/Image/0-0.png" style="max-height:60px; padding-left:25%;" />
            <br /><br />
            <h5>Este jogador não recebeu nenhuma avaliação.</h5>

}
else
{

if (ViewBag.Media == "1")
{


            <img src="~/Content/Image/0-5.png" style="max-height:60px; padding-left:25%;" />
}

if (ViewBag.Media == "2")
{

            <img src="~/Content/Image/1-0.png" style="max-height:60px; padding-left:25%;" />
}

if (ViewBag.Media == "3")
{

            <img src="~/Content/Image/1-5.png" style="max-height:60px; padding-left:25%;" />
}

if (ViewBag.Media == "4")
{

            <img src="~/Content/Image/2-0.png" style="max-height:60px; padding-left:25%;" />
}

if (ViewBag.Media == "5")
{

            <img src="~/Content/Image/2-5.png" style="max-height:60px; padding-left:25%;" />
}
if (ViewBag.Media == "6")
{

            <img src="~/Content/Image/3-0.png" style="max-height:60px; padding-left:25%;" />
}
if (ViewBag.Media == "7")
{

            <img src="~/Content/Image/3-5.png" style="max-height:60px; padding-left:25%;" />
}
if (ViewBag.Media == "8")
{

            <img src="~/Content/Image/4-0.png" style="max-height:60px; padding-left:25%;" />
}
if (ViewBag.Media == "9")
{

            <img src="~/Content/Image/4-5.png" style="max-height:60px; padding-left:25%;" />
}
if (ViewBag.Media == "10")
{

            <img src="~/Content/Image/5-0.png" style="max-height:60px; padding-left:25%;" />
}

            <h5>@ViewBag.Quantos avaliações registradas.</h5>
}
            </div>

        </div>
       
    </div>

</div>

}
else
{
    <div class="container">
        <img src="~/Content/Image/CADASTRO2.png" class="img-fluid" />
        <h1>@ViewBag.Mensagem</h1>
        <hr />
        <h1 class="textodotitulo text-center">
            Mas, o que isso significa?
        </h1>
        <br />

        <div class="row">
            <div class="col-md-3 col-xs-12"></div>
            <div class="col-md-6 col-xs-12 fundo-carteado">
                <div class="container">
                    <br /><hr />
                    <h4>
                        O jogador <b>@ViewBag.Nome</b> não possui nenhuma pendência em aberto em seu nome. Isso significa que ele sempre honra suas dívidas e apostas e, portanto, é um bom cliente para sua casa de Poker.
                    </h4>
                    @if (ViewBag.Media == "0")
    {
                        <br /><br />
                <img src="~/Content/Image/0-0.png" style="max-height:60px; padding-left:25%;" />
                <br /><br />
                <h5>Este jogador ainda não tem histórico o suficiente para ser avaliado;</h5>
}
else
{

if (ViewBag.Media == "1")
{


                <img src="~/Content/Image/0-5.png" style="max-height:60px; padding-left:25%;" />
}

if (ViewBag.Media == "2")
{

                <img src="~/Content/Image/1-0.png" style="max-height:60px; padding-left:25%;" />
}

if (ViewBag.Media == "3")
{

                <img src="~/Content/Image/1-5.png" style="max-height:60px; padding-left:25%;" />
}

if (ViewBag.Media == "4")
{

                <img src="~/Content/Image/2-0.png" style="max-height:60px; padding-left:25%;" />
}

if (ViewBag.Media == "5")
{

                <img src="~/Content/Image/2-5.png" style="max-height:60px; padding-left:25%;" />
}
if (ViewBag.Media == "6")
{

                <img src="~/Content/Image/3-0.png" style="max-height:60px; padding-left:25%;" />
}
if (ViewBag.Media == "7")
{

                <img src="~/Content/Image/3-5.png" style="max-height:60px; padding-left:25%;" />
}
if (ViewBag.Media == "8")
{
                            <br />
                <img src="~/Content/Image/4-0.png" style="max-height:60px; padding-left:25%;" />
                <br />
}
if (ViewBag.Media == "9")
{

                <img src="~/Content/Image/4-5.png" style="max-height:60px; padding-left:25%;" />
}
if (ViewBag.Media == "10")
{

                <img src="~/Content/Image/5-0.png" style="max-height:60px; padding-left:25%;" />
}
                        <br />
                <h5>@ViewBag.Quantos avaliações registradas.</h5>
}


                </div>

            </div>
          
        </div>
      
    </div>
}





