﻿@model IEnumerable<pokerasa.Models.Divida>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutJog.cshtml";
}

<h1 class="textodotitulo">Pendências registradas</h1>
<hr />
<h5>As pendências abaixo estão registradas em seu nome. Em vermelho estão as dívidas em aberto. Efetue a negociação com segurança diretamente através da nossa plataforma.</h5>

<hr />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">

            <div class="card">
                @if (item.Status != "Finalizada")
                  {
            <div class="card-header fundo-pokerasa-vermelho text-light">
                Quando: @Html.DisplayFor(modelItem => item.DataDeRegistro)
            </div>
                }

                @if (item.Status == "Finalizada")
              {
            <div class="card-header bg-success text-light">
                Quando: @Html.DisplayFor(modelItem => item.DataDeRegistro)
            </div>
}

                <div class="card-body text-dark font-weight-bold">
                    <h5 class="card-title"><b>Valor:</b> R$ @Html.DisplayFor(modelItem => item.Valor)</h5>
                    <div class="card-text">
                        <p>
                            <b>Descrição:</b> @Html.DisplayFor(modelItem => item.Descricao)
                        </p>
                        @if (item.Status != "Finalizada")
    {
                    <p>  Efetue o pagamento desta pendência e regularize seu cadastro.</p>
                    @*@Html.ActionLink("Negociar", "Create", "Negociacoes", new { id = item.DividaID }, new { @class = "btn btn-sm fundo-pokerasa-vermelho text-light" })*@
                    <a href="@Url.Action("Create","Negociacoes", new { id = item.DividaID})" class="btn btn-lg fundo-pokerasa-vermelho text-light"><span class="oi oi-dollar"></span></a>
}

                        @if (item.Status == "Finalizada")
    {

                    <p>  Obrigado por manter seu pagamento em dia!</p>
}
                        <a href="@Url.Action("Details", new { id = item.DividaID})" class="btn btn-lg fundo-pokerasa-preto text-light"><span class="oi oi-magnifying-glass"></span></a>


                    </div>

                </div>
            </div>
            <br />
            <br />

        </div>
    }
</div>


@section scripts{
    <script>
 $(function () {
 $(".excluir").click(function () {
 var id = $(this).attr("data-id");
 var descricao = $(this).attr("data-content");
 $("#mensagem").html("<p>Deseja excluir a divida de valor " + descricao + "?</p>");
 $("#numero").text(id);});
 $("#btnDelete").click(function () {
 var id = $("#numero").text();
 var url = '@Url.Action("FinalizarDivida", "Dividas")';
 $.post(url, { id: id },
 function (data) {
 window.location.href = "@Url.Action("Index", "Dividas")";
 })
 .fail(function () {
 alert("error")
 });
 //$("#modal").fadeOut("slow", function () {
 // // Animation complete.
 //});
 $('#modal').modal('hide');
 });
 })
    </script>
}

