﻿@model pokerasa.Models.Jogador

@{
    ViewBag.Title = "Registrar jogador";
    Layout = "~/Views/Shared/_LayoutProFunAdm.cshtml";
}
<div id="spinner">  </div>
<h1 class="textodotitulo">Cadastrar novo jogador</h1>
<link href="~/Content/bootstrap-datepicker3.min.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })



    <div class="container text-dark">

        <div class="jumbotron fundo-cards">

            <h2 class="open-sans font-weight-bold">Você está cadastrando um novo cliente.</h2><br /><br />

            <div class="row">

                <div class="col-md-3 col-sm-4">

                    <div class="card semfundo">
                        <div class="card-body">
                            <b>Insira as informações nos campos a seguir e clique em enviar.</b>


                        </div>
                    </div>
                    <br />
                </div>


                <div class="col-md-3 col-sm-4">

                    <div class="card semfundo">
                        <div class="card-body ">
                            @Html.LabelFor(model => model.Rg, htmlAttributes: new { @class = "control-label font-weight-bold" })

                            @Html.EditorFor(model => model.Rg, new { htmlAttributes = new { @class = "form-control rg" } })
                            @Html.ValidationMessageFor(model => model.Rg, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                </div>

                <div class="col-md-3 col-sm-4">

                    <div class="card semfundo">
                        <div class="card-body ">
                            <label class="control-label font-weight-bold">Data de Nascimento: </label>
                            @Html.EditorFor(model => model.DataDeNascimento, new { htmlAttributes = new { @class = "form-control datanascimento" } })
                            @Html.ValidationMessageFor(model => model.DataDeNascimento, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <br />
                </div>

                <div class="col-md-3 col-sm-4">

                    <div class="card semfundo">
                        <div class="card-body ">


                            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label font-weight-bold" })

                            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                </div>

                <div class="col-md-3 col-sm-4">

                    <div class="card semfundo">
                        <div class="card-body ">
                            @Html.LabelFor(model => model.Endereco, htmlAttributes: new { @class = "control-label font-weight-bold" })

                            @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                </div>


                <div class="col-md-3 col-sm-4">

                    <div class="card semfundo">
                        <div class="card-body ">
                            @Html.LabelFor(model => model.Telefone, htmlAttributes: new { @class = "control-label font-weight-bold" })

                            @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control telefone" } })
                            @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                </div>

                <div class="col-md-3 col-sm-4">

                    <div class="card semfundo">
                        <div class="card-body ">

                            <label class="control-label font-weight-bold">Cidade</label>

                            @Html.DropDownList("CidadeID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CidadeID, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <br />
                </div>

                <div class="col-md-3 col-sm-4">

                    <div class="card semfundo">
                        <div class="card-body">

                            @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label font-weight-bold" })

                            @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <br />
                </div>


                <div class="col-md-3 col-sm-4">

                    <div class="card semfundo">
                        <div class="card-body">
                            @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label font-weight-bold" })

                            @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <br />
                </div>


                <div class="col-md-3 col-sm-4">

                    <div class="card semfundo">
                        <div class="card-body">
                            @Html.LabelFor(model => model.Cpf, htmlAttributes: new { @class = "control-label font-weight-bold" })

                            @Html.EditorFor(model => model.Cpf, new { htmlAttributes = new { @class = "form-control cpf" } })
                            @Html.ValidationMessageFor(model => model.Cpf, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <br />
                </div>

                <div class="col-md-3 col-sm-4">

                    <div class="card semfundo">
                        <div class="card-body">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label font-weight-bold" })

                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <br />
                </div>

                <div class="col-md-3 col-sm-4">

                    <div class="card fundo-card-pokerasa card-tile" style="height:110px;">
                        <div class="card-body">
                            @*<input type="submit" value="Enviar" class="text-white semfundo" />*@
                            <br />
                            <button type="submit" class="btn-link text-white" id="enviar"><h1>Enviar</h1></button>
                        </div>
                    </div>
                    <br />
                </div>


            </div> <!--FIM DO ROW-->


            <b>@Html.ActionLink("Clique aqui para retornar ao início", "Home", new { htmlAttributes = new { @class = "text-white" } })</b>
        </div> <!--FIM DO JUMBOTRON-->


    </div><!--FIM DO CONTAINER-->
    
       
     

}

<div class="text-white">
    
</div>

@section Scripts {

    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/jquery.mask.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.pt-BR.min.js"></script>
    <script>
        $(function () {

            var SPMaskBehavior = function (val) { //cria configuracoes de mascara para o telefone
                return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
            },
                spOptions = {
                    onKeyPress: function (val, e, field, options) {
                        field.mask(SPMaskBehavior.apply({}, arguments), options);
                    }
                };

            $(".telefone").mask(SPMaskBehavior, spOptions); //aplica a mascara no telefone com as configuracoes acima
            $(".cpf").mask('000.000.000-00');
            $(".rg").mask('00.000.000-0');
        });




        $('#enviar').on('click', function (event) {
            $("#spinner").fadeIn();

        });

    </script>
}
