﻿@model pokerasa.Models.Jogador

@{
    ViewBag.Title = "Alterar senha de acesso";
    Layout = "~/Views/Shared/_LayoutErro.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    
  
    <img src="~/Content/Image/Pokerasa-sem-fundo.png" style="max-height:80px; margin-left:12%"/>

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.UsuarioID)
    @Html.HiddenFor(model => model.Rg)
    @Html.HiddenFor(model => model.DataDeCadastro)
    @Html.HiddenFor(model => model.DataDeNascimento)
    @Html.HiddenFor(model => model.Endereco)
    @Html.HiddenFor(model => model.Telefone)
    @Html.HiddenFor(model => model.Nome)
    @Html.HiddenFor(model => model.Tipo)
    @Html.HiddenFor(model => model.Cpf)
    @Html.HiddenFor(model => model.Email)
    @*@Html.HiddenFor(model => model.CidadeID)*@


    <div class="form-group esconder">
        @Html.LabelFor(model => model.CidadeID, "CidadeID", htmlAttributes: new { @class = "control-label col-md-2", @style = "display:none" })
        <div class="col-md-10">
            @Html.DropDownList("CidadeID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CidadeID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="container">


        <h1 class="textodotitulo text-white">Alterar senha de acesso</h1>

        <h3 class="text-white">Abaixo você pode alterar seu login e sua senha de acesso ao sistema.</h3>
        <hr />
        <div class="row">

            <div class="col-md-4 col-sm-12"></div>
            <div class="col-md-4 col-sm-12">
                <div class="jumbotron fundo-cards">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-2  font-weight-bold" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-2  font-weight-bold" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-12">
                            <input type="submit" value="Salvar alterações" class="btn fundo-pokerasa-preto w-100 text-white" />
                        </div>
                    </div>




                </div>



            </div>
            <div class="col-md-4 col-sm-12"></div>

        </div>

      


    </div>

</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
