﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_LayoutJog.cshtml";
}

@{pokerasa.Models.Usuario usuario = pokerasa.Repositories.Funcoes.GetUsuario(); }

@if (usuario != null)
{
    <h1 class="text-light open-sans textodotitulo">Olá, @usuario.Nome !</h1>
}

<div id="spinner">  </div>

<br /><br />
<div class="container">

    @*@Html.ActionLink("Administradores", "Index", "Administradores")<br />*@

    <div class="row">
        <div class="col-md-4">

            <div class="card card-tile fundo-card-pokerasa text-light " style="height: 230px;" id="verdividas">
                <div class="card-header">   </div>
                @*<img class="card-img-top img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJan2O7AJhL-VE_BUfr3hzCr1tNGI7uYxit4ryrNPLgviZxwku5A" alt="Card image cap">*@
                <div class="card-body">
                    <h4 class="card-title"></h4>
                    <p class="card-text align-items-md-center ">
                        <span class="oi oi-british-pound icone-grande text-center" title="Jogador" aria-hidden="true"></span><br />
                    </p>
                    <h3 class="textodastiles">Consultar Dividas</h3>
                    @*@Html.ActionLink("Acessar", "VerDividas", "Dividas", new { area = "" }, new { @class = "btn fundo-pokerasa-preto text-light" })<br />*@
                </div>


            </div>
            <br /><br />
        </div>

        <div class="col-md-4">

            <div class="card card-tile fundo-card-pokerasa text-light " style="height: 230px;" id="verhistoricos">
                <div class="card-header">   </div>
                @*<img class="card-img-top img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJan2O7AJhL-VE_BUfr3hzCr1tNGI7uYxit4ryrNPLgviZxwku5A" alt="Card image cap">*@
                <div class="card-body">
                    <h4 class="card-title"></h4>
                    <p class="card-text align-items-md-center ">
                        <span class="oi oi-clipboard icone-grande text-center" title="Jogador" aria-hidden="true"></span><br />
                    </p>
                    <h3 class="textodastiles">Ver histórico</h3>
                    @*@Html.ActionLink("Acessar", "VerDividas", "Dividas", new { area = "" }, new { @class = "btn fundo-pokerasa-preto text-light" })<br />*@
                </div>


            </div>
            <br /><br />
        </div>
        <div class="col-md-4">

            <div class="card card-tile fundo-card-pokerasa text-light " style="height: 230px;" id="vernegociacoes">
                <div class="card-header">   </div>
                @*<img class="card-img-top img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJan2O7AJhL-VE_BUfr3hzCr1tNGI7uYxit4ryrNPLgviZxwku5A" alt="Card image cap">*@
                <div class="card-body">
                    <h4 class="card-title"></h4>
                    <p class="card-text align-items-md-center ">
                        <span class="oi oi-briefcase icone-grande text-center" title="Jogador" aria-hidden="true"></span><br />
                    </p>
                    <h3 class="textodastiles">Ver negociações</h3>
                    @*@Html.ActionLink("Acessar", "VerDividas", "Dividas", new { area = "" }, new { @class = "btn fundo-pokerasa-preto text-light" })<br />*@
                </div>


            </div>
            <br /><br />
        </div>


    </div>


</div>


@section scripts {

    <script>



        $('#verdividas').on('click', function (event) {
            $("#spinner").fadeIn();
            window.location.href = "@Url.Action("VerDividas", "Dividas")";

        });

        $('#verhistoricos').on('click', function (event) {
          $("#spinner").fadeIn();
            window.location.href = "@Url.Action("Index", "Historicos")";
        });

        $('#vernegociacoes').on('click', function (event) {
            $("#spinner").fadeIn();
 window.location.href = "@Url.Action("Index", "Negociacoes")";
        });

    </script> 
    
    }