﻿@model IEnumerable<pokerasa.Models.Jogador>

@{
    /**/

    ViewBag.Title = "Jogadores cadastrados";
    Layout = "~/Views/Shared/_LayoutProFunAdm.cshtml";
}

<h1 class="textodotitulo">Pesquisar jogadores</h1><br /><br />


<div class="container text-dark">
    <div class="jumbotron font-weight-bold">
        <h4 class="open-sans font-weight-bold">Você pode pesquisar jogadores por nome ou por CPF.</h4><br /><br />

        <div class="row paddingdapesquisa">
            <div class="col-md-6">
                @using (Html.BeginForm("SearchNome", "Jogadores", null, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @*<div class="form-inline">*@
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="card" style="width:90%; background-color:rgba(0, 0, 0, 0.00)">
                    <div class="card-body" >
                        <p>Pesquisa por nome:  </p>
                        <div class="form-group">

                            @*@Html.TextBox("SearchString")*@
                            <input type="text" name="SearchString" id="SearchString" style="width:100%"
                                   class="form-control" value="@ViewBag.Pesquisa" placeholder="Digite o nome aqui" />

                            <input type="submit" value="Pesquisar" class="btn fundo-pokerasa-preto text-light" style="width:100%" />

                            @*</div>*@
                        </div>
                    </div>
                </div>
        }
            </div>
            <hr />
            <div class="col-md-6">
                @using (Html.BeginForm("SearchCpf", "Jogadores", null, FormMethod.Post))
            {

                
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="card" style="width:90%; background-color:rgba(0, 0, 0, 0.00)">
                    <div class="card-body">
                        <p>Pesquisar por Cpf:  </p>
                        <div class="form-group">

                            @*@Html.TextBox("SearchString")*@
                            <input type="text" style="width:100%" name="SearchCpf" id="SearchCpf" class="form-control" placeholder="CPF: 000.000.000-00" value="@ViewBag.Pesquisa" />
                            <input type="submit" value="Pesquisar" class="btn fundo-pokerasa-preto text-light" style="width:100%" />

                        </div>
                    </div>
                </div>
        }
            </div>
        </div>
    </div>

</div>
<br /><br />
<p>Está cadastrando um novo cliente?</p>
<p>
    @Html.ActionLink("Cadastrar novo jogador", "Create", new { area = "" }, new { @class = "btn btn-success" })
</p>

@section Scripts {

    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/jquery.mask.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.pt-BR.min.js"></script>
    <script>
        $(function () {


            $("#SearchCpf").mask('000.000.000-00');

        });
    </script>
}
