﻿@model IEnumerable<pokerasa.Models.Jogador>

@{
    ViewBag.Title = "Jogadores cadastrados";
    Layout = "~/Views/Shared/_LayoutProFunAdm.cshtml";
}

<h1 class="textodotitulo">Resultado da busca: </h1>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">

            <div class="card fundo-cards text-dark">
                <div class="card-header fundo-pokerasa-vermelho text-light">
                    @Html.DisplayFor(modelItem => item.Nome)
                </div>
                @*<img class="card-img-top img-fluid" src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/user-male-icon.png" alt="Card image cap">*@
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Telefone)</h5>
                    <div class="card-text">
                        <p><b>Membro desde:</b> @Html.DisplayFor(modelItem => item.DataDeCadastro)</p>
                        <p><b>E-mail: </b>@Html.DisplayFor(modelItem => item.Email)</p>
                        <p><b>Endereço: </b>@Html.DisplayFor(modelItem => item.Endereco)</p>
                        <p><b>Cidade: </b>@Html.DisplayFor(modelItem => item.cidade.Nome)</p>
                        <p>
                            @*@Html.ActionLink("Editar", "Edit", new { id = item.UsuarioID }, new { @class = "btn btn-sm btn-secondary " })*@
                            @Html.ActionLink("Detalhes", "Details", new { id = item.UsuarioID }, new { @class = "btn btn-sm fundo-pokerasa-preto text-light " })
                            @*@Html.ActionLink("Excluir", "Delete", new { id = item.UsuarioID }, new { @class = "btn btn-sm btn-secondary " })*@
                            @Html.ActionLink("Nova dívida", "Create", "Dividas", new { id = item.UsuarioID }, new { @class = "btn btn-sm fundo-pokerasa-preto text-light" })
                            @Html.ActionLink("Novo histórico", "Create", "Historicos", new { id = item.UsuarioID }, new { @class = "btn btn-sm fundo-pokerasa-preto text-light " })
                        </p>
                    </div>

                </div>
            </div>
            <br />
            <br />

        </div>
    }
</div>




<div class="container text-dark">
    <div class="jumbotron font-weight-bold">
        <h4 class="open-sans font-weight-bold">Deseja pesquisar novamente?</h4><br /><br />

        <div class="row paddingdapesquisa">
            <div class="col-md-6">
                @using (Html.BeginForm("SearchNome", "Jogadores", null, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @*<div class="form-inline">*@
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="card" style="width:90%; background-color:rgba(0, 0, 0, 0.00)">
                        <div class="card-body">
                            <p>Pesquisa por nome:  </p>
                            <div class="form-group">

                                @*@Html.TextBox("SearchString")*@
                                <input type="text" name="SearchString" id="SearchString" style="width:100%"
                                       class="form-control" value="@ViewBag.Pesquisa" placeholder="Digite o nome aqui" />

                                <input type="submit" value="Pesquisar" class="btn fundo-pokerasa-preto text-light" style="width:100%" />

                                @*</div>*@
                            </div>
                        </div>
                    </div>
                }
            </div>
            <hr />
            <div class="col-md-6">
                @using (Html.BeginForm("SearchCpf", "Jogadores", null, FormMethod.Post))
                {


                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="card" style="width:90%; background-color:rgba(0, 0, 0, 0.00)">
                        <div class="card-body">
                            <p>Pesquisar por Cpf:  </p>
                            <div class="form-group">

                                @*@Html.TextBox("SearchString")*@
                                <input type="text" style="width:100%" name="SearchCpf" id="SearchCpf" class="form-control" placeholder="CPF: 000.000.000-00" value="@ViewBag.Pesquisa" />
                                <input type="submit" value="Pesquisar" class="btn fundo-pokerasa-preto text-light" style="width:100%" />

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</div>
<br /><br />
<p>Está cadastrando um novo cliente?</p>
<p>
    @Html.ActionLink("Cadastrar novo jogador", "Create", new { area = "" }, new { @class = "btn btn-success" })
</p>