﻿.corpo {
    padding-top: 100px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/*/////////////////////////////////////////////////////////////
                PERSONALIZANDO O ALERTIFY
/////////////////////////////////////////////////////////////*/
.ajs-header { /*BARRAS DE TITULO DO ALERTIFY COM A COR VERMELHA DO POKERASA*/
    background-color: #b01010 !important;
    color: white !important;
}
/*/////////////////////////////////////////////////////////////
                   PERSONALIZANDO O ALERTIFY
/////////////////////////////////////////////////////////////*/
.fundo-carteado {
    background-image: url('Image/essa2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 5%;
    height: 45vh;
}

.formlogin {
    width: 84% !important;
}

.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;

    padding: 0;

    font-family: inherit;
    font-size: inherit;
}


.semfundo {

    background-color: rgba(0, 0, 0, 0.00) !important;
}

.paddingdapesquisa {
    padding-left:8%;
}
.esconder {

    display:none !important;
}

.sempadding {
    padding: 0px !important;
}

.fundo-pokerasa-preto {

    background-color: #090909 !important;
}

.fundo-pokerasa-vermelho {
    background-color: #b01010 !important;
}


.texto-vermelho-pokerasa {
    color: #b01010 !important;
}
.fundo-card-pokerasa {

    /*background-image: url('Image/Pokerasa-card.png');*/
    background-color: rgba(0, 0, 0, 0.00);
    opacity: 1  !important ;    
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
}


.fundo-cinza { /*ESSE FUNDO NÃO É MAIS CINZA, NÃO MUDEI O NMOE PQ SENÃO IA TER QUE MUDAR NO PROJETO INTEIRO*/
    /*background-image: url('Image/bk-admin.jpg');*/
    background-image: url('Image/teste.png');
    background-size: cover;
    background-repeat: no-repeat;
}


.fundo-cards {
    background-image: url('Image/bk-admin.jpg');

    background-size: cover;
    background-repeat: no-repeat;
}

.card-tile {
    /*transition: all .5s ease;*/
    /*-webkit-transform: rotateX(0deg);
    -webkit-transform-origin-y: 300px; /* rotates from the bottom of the image
    outline: 2px solid gray;
    outline-offset: -2px */
}

    .card-tile:hover {
        /* -webkit-transform: rotateY(-20deg);*/
        /*border: 6px solid #b01010;*/
        outline: 3px solid #b6b6b6;
        outline-offset: -3px;
    }

    .card-tile:active {
        /*-webkit-transform: rotateX(-20deg);*/
        transform: scale(0.95)
    }



.automargin {

    margin-top: auto;
}


.jumbologin {
    height: 100vh !important;
    background-image: url('https://getflywheel.com/wp-content/uploads/2015/08/free-blurred-background-pixaroma.jpg');
    background-size: cover;
}


.containerlogin {

    margin-top: 55%;
    margin-left: 10%;
}

.icone-grande{

    font-size: 6.5em;
    text-align: center !important;
    margin-left: 33%;
}

.icone-medio {
    font-size: 6em;
    text-align: center !important;
    margin-left: 23%;
}

.desce-dentro-do-card {

    margin-top: 16%;
}



.open-sans {
    font-family: 'Open Sans', sans-serif !important;
}

.raleway {
    font-family: 'Raleway', sans-serif !important;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Light.ttf') format('truetype');
}


@font-face {
    font-family: 'OpenSansCondensed-Light';
    src: url('fonts/OpenSansCondensed-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Light.ttf') format('truetype');
}

#esquerdalogin {
    background-image: url('Image/teste.png');
    background-size: cover;
}

#direitalogin {
    background-image: url('Image/teste.png');
    /*background-image: url('Image/bk-admin.jpg');*/
    background-size: cover;
}


.formulariologin {


}

.logopokerasagrande {
    margin-left: 10%;
}

.textodotitulo {

    font-size: 3em;
}

.imglogin {
    max-height: 60px;
    margin-left: 5%;
}

#spinner {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9997;
    /*background: url(Image/spinnerloading2.gif) 50% 50% no-repeat rgba(0, 0, 0, 0.90);*/
    background: url(Image/aguarde.png) 50% 50% no-repeat rgba(0, 0, 0, 0.90);
    display: none;
}

#spinnermenu {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background: url(Image/spinnerloading2.gif) 50% 50% no-repeat rgba(0, 0, 0, 0.90);
    display: none;
}

#erro {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background: url(Image/Permissão.png) 50% 50% no-repeat rgba(0, 0, 0, 0.90);
    display: none;
}

@media only screen and (max-width: 767px) {
    #esquerdalogin {
    visibility:hidden;
    height:0px;
    }

    .formlogin {
        width: 95.5% !important;
    }

    .paddingdapesquisa {
        padding-left: 2%;
    }

    .containerlogin {
        margin-top: 45%;
        margin-left: 10%;
    }

    .imglogin {
        max-height: 60px;
        margin-left: 7%;
    }

    .logopokerasagrande {
        margin-left: 2%;
        padding-top: 5%;
    }

    .icone-grande {
       
        margin-left: 27%;
    }

    .icone-medio {
        font-size: 6em;
        text-align: center !important;
        margin-left: 30%;
    }

    .textodotitulo {
        font-size: 2em;
    }
    .bodylogin {
        margin: 0;
        height: 100vh;
        overflow: hidden;
    }

    .textodastiles {
        font-size: 1.65em;
    }
  
} /*MEDIA SCREEN*/

@media only screen and (max-width: 1400px) and (min-width:768px) {
    .textodastiles {
        font-size: 1.6em;
    }
    .imglogin {
        max-height: 60px;
        margin-left: -20%;
    }
    .containerlogin{
        
        margin-top: 45%;
        margin-left: 2%;
 
    }

}

    /*html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}*/

.bodylogin {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-image: url('Image/teste.png');
    /*background-image: url('Image/bk-admin.jpg');*/
    background-size: cover;
}



