﻿@{
    Layout = "~/Views/Shared/_LayoutPro.cshtml";

}

<br /><br />

      <div id="spinner">  </div>
      <div class="container">
          <div class="row">
              <div class="col-md-4">

                  <div class="card card-tile fundo-card-pokerasa text-light js-tilt " style="height: 230px;" id="novojogador" data-tilt-scale="1">
                      <div class="card-header">  </div>

                      <div class="card-body">
                          <h4 class="card-title"></h4>
                          <p class="card-text align-items-md-center ">
                              <span class="oi oi-plus icone-grande text-center" title="Jogador" aria-hidden="true"></span><br />
                          </p>
                          <h3 class="textodastiles">Cadastrar jogador</h3>
                          @*@Html.ActionLink("Acessar", "Create", "Jogadores", new { area = "" }, new { @class = "btn fundo-pokerasa-preto text-light" })<br />*@
                      </div>


                  </div>


                  <br /><br />
              </div>

              <div class="col-md-4">

                  <div class="card card-tile fundo-card-pokerasa text-light js-tilt" style="height: 230px;" id="novadivida">
                      <div class="card-header"></div>

                      <div class="card-body">
                          <h4 class="card-title"></h4>
                          <p class="card-text align-items-md-center ">
                              <span class="oi oi-british-pound icone-grande text-center" title="Dividas" aria-hidden="true"></span><br />
                          </p>
                          <h3 class="textodastiles">Registrar dívida</h3>
                          @*@Html.ActionLink("Acessar", "Index", "Jogadores", new { area = "" }, new { @class = "btn fundo-pokerasa-preto text-light" })<br />*@
                      </div>


                  </div>
                  <br /><br />
              </div>

              <div class="col-md-4">

                  <div class="card card-tile fundo-card-pokerasa text-light js-tilt" style="height: 230px;" id="listardividas">
                      <div class="card-header"></div>

                      <div class="card-body">
                          <h4 class="card-title"></h4>
                          <p class="card-text align-items-md-center ">
                              <span class="oi oi-list icone-grande text-center" title="Dividas" aria-hidden="true"></span><br />
                          </p>
                          <h3 class="textodastiles">Listar dívidas</h3>
                          @*@Html.ActionLink("Acessar", "Index", "Dividas", new { area = "" }, new { @class = "btn fundo-pokerasa-preto text-light" })<br />*@
                      </div>


                  </div>
                  <br /><br />
              </div>


              <div class="col-md-4">

                  <div class="card card-tile fundo-card-pokerasa text-light js-tilt" style="height: 230px;" id="consultarcadastro">
                      <div class="card-header"> </div>

                      <div class="card-body">
                          <h4 class="card-title"></h4>
                          <p class="card-text align-items-md-center ">
                              <span class="oi oi-magnifying-glass icone-grande text-center" title="Consultar" aria-hidden="true"></span><br />
                          </p>
                          <h3 class="textodastiles">Consultar Cadastro</h3>
                          @*@Html.ActionLink("Acessar", "ConsultarCadastro", "Dividas", new { area = "" }, new { @class = "btn fundo-pokerasa-preto text-light" })<br />*@
                      </div>


                  </div>
                  <br /><br />
              </div>

              <div class="col-md-4">

                  <div class="card card-tile fundo-card-pokerasa text-light js-tilt" style="height: 230px;" id="historico">
                      <div class="card-header"> </div>

                      <div class="card-body">
                          <h4 class="card-title"></h4>
                          <p class="card-text align-items-md-center ">
                              <span class="oi oi-clipboard icone-grande text-center" title="Consultar" aria-hidden="true"></span><br />
                          </p>
                          <h3 class="textodastiles">Registrar histórico</h3>
                          @*@Html.ActionLink("Acessar", "Index", "Jogadores", new { area = "" }, new { @class = "btn fundo-pokerasa-preto text-light" })<br />*@
                      </div>


                  </div>
                  <br /><br />
              </div>

              <div class="col-md-4">

                  <div class="card card-tile fundo-card-pokerasa text-light js-tilt" style="height: 230px;" id="bar">
                      <div class="card-header"> </div>

                      <div class="card-body">
                          <h4 class="card-title"></h4>
                          <p class="card-text align-items-md-center ">
                              @*<span class="oi oi-fork icone-grande text-center" title="Consultar" aria-hidden="true"></span><br />*@
                              <img src="~/Content/Image/Imagem1.png" class="img-fluid" />
                          </p>
                          <h3 class="textodastiles">Pokerasa Bar</h3>
                          @*@Html.ActionLink("Acessar", "Index", "Jogadores", new { area = "" }, new { @class = "btn fundo-pokerasa-preto text-light" })<br />*@
                      </div>


                  </div>
                  <br /><br />
              </div>
          </div>

          @section scripts {
              <script src="~/Scripts/alertify.min.js"></script>
              <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
              <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />
              <script src="~/Scripts/tilt.jquery.js"></script>
              <script src="~/Scripts/jquery.mask.js"></script>
              <script>



        $('#novojogador').on('click', function (event) {
            $("#spinner").fadeIn();
            window.location.href = "@Url.Action("Create", "Jogadores")";

        });

        $('#novadivida').on('click', function (event) {
          $("#spinner").fadeIn();
            window.location.href = "@Url.Action("Index", "Jogadores")";
        });

        $('#listardividas').on('click', function (event) {
            $("#spinner").fadeIn();
 window.location.href = "@Url.Action("Index", "Dividas")";
        });

           $('#consultarcadastro').on('click', function (event) {
            //$("#spinner").fadeIn();
          //     window.location.href = "@Url.Action("ConsultarCadastro", "Dividas")";



               var prompt = alertify.prompt("Digite o CPF","Informe o CPF a ser pesquisado.", "000.000.000-00", function (evt, value) { enviarCpf(value); }, function () { alertify.error('Cancelado'); });
               $(".ajs-input").mask('000.000.000-00');

               function enviarCpf(value) {
               //    alert(value);


                 $.ajax({
                 url: "@Url.Action("SearchCpf", "Dividas")",
                 type: "GET",
                 data: { searchCpf: value},
                 success: function (response) {
                     alert(response.status + "--" + response.nota)
                     var resposta = response;
                     if (resposta.status == "err") {

                         $("#spinner").fadeOut();
                         alertify.dialog('alert').set({ transition: 'zoom', message: '<h4>Ocorreu um erro!</h4>', title: 'Erro!', movable: false }).show();

                     } else if (resposta.status == "ne") { //usuario não encontrado
                         alertify.dialog('alert').set({ transition: 'zoom', message: '<h4>Nenhum jogador encontrado! Você digitou corretamente?</h4>', title: 'Erro!', movable: false }).show();
                     } else if (resposta.status == "limpo") {
                         alert("DEBUG: "+resposta.status + "--" + resposta.nota)

                         if (resposta.nota == "0") {

                             alertify.dialog('alert').set({ transition: 'zoom', message: '<h4>Este jogador não possui nenhuma pendência! Também não há nenhuma avaliação sobre este jogador ainda.</h4>', title: 'Nenhuma pendência!', movable: false }).show();
                         }
                         if (resposta.nota == "1") {
                             alertify.dialog('alert').set({ transition: 'zoom', message: '<h4>Nenhuma pendência!</h4><br><img src="../Content/Image/0-5.png" style="max-height:60px; padding-left:25%;" /><br>Este jogador é nosso membro desde '+resposta.cadastrado, title: 'Nenhuma pendência!', movable: false }).show();
                         }

                         if (resposta.nota == "2") {
                             alertify.dialog('alert').set({ transition: 'zoom', message: '<h4>Nenhuma pendência!</h4><br><img src="../Content/Image/1-0.png" style="max-height:60px; padding-left:25%;" />', title: 'Nenhuma pendência!', movable: false }).show();
                         }
                         if (resposta.nota == "3") {
                             alertify.dialog('alert').set({ transition: 'zoom', message: '<h4>Nenhuma pendência!</h4><br><img src="../Content/Image/1-5.png" style="max-height:60px; padding-left:25%;" />', title: 'Nenhuma pendência!', movable: false }).show();
                         }
                         if (resposta.nota == "4") {
                             alertify.dialog('alert').set({ transition: 'zoom', message: '<h4>Nenhuma pendência!</h4><br><img src="../Content/Image/2-0.png" style="max-height:60px; padding-left:25%;" />', title: 'Nenhuma pendência!', movable: false }).show();
                         }
                         if (resposta.nota == "5") {
                             alertify.dialog('alert').set({ transition: 'zoom', message: '<h4>Nenhuma pendência!</h4><br><img src="../Content/Image/2-5.png" style="max-height:60px; padding-left:25%;" />', title: 'Nenhuma pendência!', movable: false }).show();
                         }
                         if (resposta.nota == "6") {
                             alertify.dialog('alert').set({ transition: 'zoom', message: '<h4>Nenhuma pendência!</h4><br><img src="../Content/Image/3-0.png" style="max-height:60px; padding-left:25%;" />', title: 'Nenhuma pendência!', movable: false }).show();
                         }
                         if (resposta.nota == "7") {
                             alertify.dialog('alert').set({ transition: 'zoom', message: '<h4>Nenhuma pendência!</h4><br><img src="../Content/Image/3-5.png" style="max-height:60px; padding-left:25%;" />', title: 'Nenhuma pendência!', movable: false }).show();
                         }
                         if (resposta.nota == "8") {
                             alertify.dialog('alert').set({ transition: 'zoom', message: '<h4>Nenhuma pendência!</h4><br><img src="../Content/Image/4-0.png" style="max-height:60px; padding-left:25%;" />', title: 'Nenhuma pendência!', movable: false }).show();
                         }
                         if (resposta.nota == "9") {
                             alertify.dialog('alert').set({ transition: 'zoom', message: '<h4>Nenhuma pendência!</h4><br><img src="../Content/Image/4-5.png" style="max-height:60px; padding-left:25%;" />', title: 'Nenhuma pendência!', movable: false }).show();
                         }
                         if (resposta.nota == "10") {
                             alertify.dialog('alert').set({ transition: 'zoom', message: '<h4>Nenhuma pendência!</h4><br><img src="../Content/Image/5-0.png" style="max-height:60px; padding-left:25%;" />', title: 'Nenhuma pendência!', movable: false }).show();
                         }

                         // //////////////////////////////////////////////////////////////////////////////
                         // //////////////////////////////////////////////////////////////////////////////
                         // ///////////////////////////////////////////////////////////////////////////////
                     } else if (resposta.status == "sim") { //EM CASO DE DIVIDA

                         alert("DEBUG: " + resposta.status + "--" + resposta.nota)

                         if (resposta.nota == "0") {

                             alertify.dialog('alert').set({ transition: 'zoom', message: '<h4>Este cadastro está com pendências em aberto! No momento há nenhuma avaliação sobre este jogador ainda.</h4>', title: 'Cadastro irregular!', movable: false }).show();
                         }
                         if (resposta.nota == "1") {
                             alertify.dialog('alert').set({ transition: 'zoom', message: '<h4>Cadastro com pendências!</h4><br><img src="../Content/Image/0-5.png" style="max-height:60px; padding-left:25%;" /><br>Este jogador é nosso membro desde ' + resposta.cadastrado, title: 'Cadastro irregular!', movable: false }).show();
                         }

                         if (resposta.nota == "2") {
                             alertify.dialog('alert').set({ transition: 'zoom', message: '<h4>Cadastro com pendências!</h4><br><img src="../Content/Image/1-0.png" style="max-height:60px; padding-left:25%;" /><br>Este jogador é nosso membro desde ' + resposta.cadastrado, title: 'Cadastro irregular!', movable: false }).show();
                         }
                         if (resposta.nota == "3") {
                             alertify.dialog('alert').set({ transition: 'zoom', message: '<h4>Cadastro com pendências!</h4><br><img src="../Content/Image/1-5.png" style="max-height:60px; padding-left:25%;" /><br>Este jogador é nosso membro desde ' + resposta.cadastrado, title: 'Cadastro irregular!', movable: false }).show();
                         }
                         if (resposta.nota == "4") {
                             alertify.dialog('alert').set({ transition: 'zoom', message: '<h4>Cadastro com pendências!</h4><br><img src="../Content/Image/2-0.png" style="max-height:60px; padding-left:25%;" /><br>Este jogador é nosso membro desde ' + resposta.cadastrado, title: 'Cadastro irregular!', movable: false }).show();
                         }
                         if (resposta.nota == "5") {
                             alertify.dialog('alert').set({ transition: 'zoom', message: '<h4>Cadastro com pendências!</h4><br><img src="../Content/Image/2-5.png" style="max-height:60px; padding-left:25%;" /><br>Este jogador é nosso membro desde ' + resposta.cadastrado, title: 'Cadastro irregular!', movable: false }).show();
                         }
                         if (resposta.nota == "6") {
                             alertify.dialog('alert').set({ transition: 'zoom', message: '<h4>Cadastro com pendências!</h4><br><img src="../Content/Image/3-0.png" style="max-height:60px; padding-left:25%;" /><br>Este jogador é nosso membro desde ' + resposta.cadastrado, title: 'Cadastro irregular!', movable: false }).show();
                         }
                         if (resposta.nota == "7") {
                             alertify.dialog('alert').set({ transition: 'zoom', message: '<h4>Cadastro com pendências!</h4><br><img src="../Content/Image/3-5.png" style="max-height:60px; padding-left:25%;" /><br>Este jogador é nosso membro desde ' + resposta.cadastrado, title: 'Cadastro irregular!', movable: false }).show();
                         }
                         if (resposta.nota == "8") {
                             alertify.dialog('alert').set({ transition: 'zoom', message: '<h4>Cadastro com pendências!</h4><br><img src="../Content/Image/4-0.png" style="max-height:60px; padding-left:25%;" /><br>Este jogador é nosso membro desde ' + resposta.cadastrado, title: 'Cadastro irregular!', movable: false }).show();
                         }
                         if (resposta.nota == "9") {
                             alertify.dialog('alert').set({ transition: 'zoom', message: '<h4>Cadastro com pendências!</h4><br><img src="../Content/Image/4-5.png" style="max-height:60px; padding-left:25%;" /><br>Este jogador é nosso membro desde ' + resposta.cadastrado, title: 'Cadastro irregular!', movable: false }).show();
                         }
                         if (resposta.nota == "10") {
                             alertify.dialog('alert').set({ transition: 'zoom', message: '<h4>Cadastro com pendências!</h4><br><img src="../Content/Image/5-0.png" style="max-height:60px; padding-left:25%;" /><br>Este jogador é nosso membro desde ' + resposta.cadastrado, title: 'Cadastro irregular!', movable: false }).show();
                         }



                     } //se o status for com pendências


                 },
                 error: function (response) {
                     alert("Erro desconhecido: " + response);
                 }
             });


               }
        });

           $('#historico').on('click', function (event) {
            $("#spinner").fadeIn();
 window.location.href = "@Url.Action("Index", "Jogadores")";
        });


        $('li').on('click', function (event) {
            $("#spinner").fadeIn();

        });


                  $(function () {

                      $('.js-tilt').tilt({
                          glare: true,
                          maxGlare: .5,
                          maxTilt: 0

                      })

                  });


              </script>





          }


      </div>