﻿@model IEnumerable<pokerasa.Models.Proprietario>

@{
    ViewBag.Title = "Proprietários";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<h1>Proprietários cadastrados</h1>
<br />
<p>
    @Html.ActionLink("Cadastrar", "Create", new { area = "" }, new { @class = "btn btn-success" })
</p>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">

            <div class="card">
                <div class="card-header fundo-pokerasa-vermelho text-light">
                    @Html.DisplayFor(modelItem => item.Nome)
                </div>
                @*<img class="card-img-top img-fluid" src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/user-male-icon.png" alt="Card image cap">*@
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Email)</h5>
                    <div class="card-text">
                        <p>Login: @Html.DisplayFor(modelItem => item.Login)</p>
                        
                        <p>Cpf: @Html.DisplayFor(modelItem => item.Cpf)</p>
                        
                        <p>
                            @Html.ActionLink("Editar", "Edit", new { id = item.UsuarioID }, new { @class = "btn btn-sm btn-secondary " })
                            @Html.ActionLink("Detalhes", "Details", new { id = item.UsuarioID }, new { @class = "btn btn-sm btn-secondary " })
                            @Html.ActionLink("Excluir", "Delete", new { id = item.UsuarioID }, new { @class = "btn btn-sm btn-secondary " })

                        </p>
                    </div>

                </div>
            </div>
            <br />
            <br />

        </div>
    }
</div>
