﻿@model pokerasa.Models.Historico

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutJog.cshtml";
}

<div>


    <div class="container">


        <h1 class="textodotitulo text-white">Detalhes do histórico</h1>

        <h3 class="text-white">Abaixo você pode ver os detalhes do histórico registrado em seu nome.</h3>
        <hr />
        <div class="row">

            <div class="col-md-4 col-sm-12"></div>
            <div class="col-md-4 col-sm-12">
              
                
                <div class="jumbotron fundo-cards text-dark">


                    <dl class="dl-horizontal">
                     
                        <dt>
                            @Html.DisplayNameFor(model => model.DataDoHistorico)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DataDoHistorico)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Nota)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Nota)
                        </dd>


                        <dt>
                            O que aconteceu?
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.descricao)
                        </dd>

                    </dl>

                    <p>

                        @Html.ActionLink("Retornar à lista", "Index")
                    </p>
                </div>
             
                
            
            </div>
        
        
        </div>
    
    
    </div>





                   
                </div>
               
