﻿@model IEnumerable<pokerasa.Models.Historico>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutJog.cshtml";
}

<h1 class="textodotitulo">Históricos registrados</h1>
<br />
<h5 class="textodastiles">
    Abaixo você todos os históricos e ocorrências registradas em seu nome na plataforma Pokerasa por outras casas de Poker. Essas
    informações são visíveis para qualquer casa que consultar o seu cadastro.
</h5>

<br />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">

            <div class="card">
                <div class="card-header fundo-pokerasa-vermelho text-light">
                    Quando: @Html.DisplayFor(modelItem => item.DataDoHistorico)
                </div>
                @*<img class="card-img-top img-fluid" src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/user-male-icon.png" alt="Card image cap">*@
                <div class="card-body text-dark font-weight-bold">
                    <h5 class="card-title">Nota (0-10): @Html.DisplayFor(modelItem => item.Nota)</h5>
                    <div class="card-text">
                        <p>Para ver os detalhes ou a descrição deste histórico, clique abaixo.</p>

                        <p>

                            <a href="@Url.Action("Details", new { id = item.HistoricoID})" class="btn btn-lg fundo-pokerasa-preto text-light"><span class="oi oi-magnifying-glass"></span></a>

                        </p>
                    </div>

                </div>
            </div>
            <br />
            <br />

        </div>
    }
</div>