﻿@{
    Layout = "~/Views/Shared/_LayoutProFunAdm.cshtml";

}

<br /><br />
<div class="container">
    <div class="row">
        <div class="col-md-4">

            <div class="card" @*style="width: 18rem;"*@>
                <div class="card-header fundo-pokerasa-vermelho text-light " style="height: 230px;">
                    @*<img class="card-img-top img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJan2O7AJhL-VE_BUfr3hzCr1tNGI7uYxit4ryrNPLgviZxwku5A" alt="Card image cap">*@
                    <div class="card-body">
                        <h4 class="card-title">Cadastrar jogador</h4>
                        <p class="card-text">
                            Inserir novo jogador na plataforma.
                        </p>
                        @Html.ActionLink("Acessar", "Create", "Jogadores", new { area = "" }, new { @class = "btn fundo-pokerasa-preto text-light" })<br />
                    </div>
                </div>

            </div>
            <br /><br />
        </div>

        <div class="col-md-4">

            <div class="card" @*style="width: 18rem;"*@>
                <div class="card-header fundo-pokerasa-vermelho text-light " style="height: 230px;">
                    @*<img class="card-img-top img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJan2O7AJhL-VE_BUfr3hzCr1tNGI7uYxit4ryrNPLgviZxwku5A" alt="Card image cap">*@
                    <div class="card-body">
                        <h4 class="card-title">Registrar dívida</h4>
                        <p class="card-text">
                            Registrar novo débito.
                        </p>
                        @Html.ActionLink("Acessar", "Index", "Jogadores", new { area = "" }, new { @class = "btn fundo-pokerasa-preto text-light" })<br />
                    </div>
                </div>

            </div>
            <br /><br />
        </div>

        <div class="col-md-4">

            <div class="card" @*style="width: 18rem;"*@>
                <div class="card-header fundo-pokerasa-vermelho text-light " style="height: 230px;">
                    @*<img class="card-img-top img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJan2O7AJhL-VE_BUfr3hzCr1tNGI7uYxit4ryrNPLgviZxwku5A" alt="Card image cap">*@
                    <div class="card-body">
                        <h4 class="card-title">Listar dívidas</h4>
                        <p class="card-text">
                            Ver débitos cadastrados por mim.
                        </p>
                        @Html.ActionLink("Acessar", "Index", "Dividas", new { area = "" }, new { @class = "btn fundo-pokerasa-preto text-light" })<br />
                    </div>
                </div>

            </div>
            <br /><br />
        </div>


        <div class="col-md-4">

            <div class="card" @*style="width: 18rem;"*@>
                <div class="card-header fundo-pokerasa-vermelho text-light " style="height: 230px;">
                    @*<img class="card-img-top img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJan2O7AJhL-VE_BUfr3hzCr1tNGI7uYxit4ryrNPLgviZxwku5A" alt="Card image cap">*@
                    <div class="card-body">
                        <h4 class="card-title">Consultar Cadastro</h4>
                        <p class="card-text">
                            Ver se jogador está em dia.
                        </p>
                        @Html.ActionLink("Acessar", "Index", "Dividas", new { area = "" }, new { @class = "btn fundo-pokerasa-preto text-light" })<br />
                    </div>
                </div>

            </div>
            <br /><br />
        </div>

        <div class="col-md-4">

            <div class="card" @*style="width: 18rem;"*@>
                <div class="card-header fundo-pokerasa-vermelho text-light " style="height: 230px;">
                    @*<img class="card-img-top img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJan2O7AJhL-VE_BUfr3hzCr1tNGI7uYxit4ryrNPLgviZxwku5A" alt="Card image cap">*@
                    <div class="card-body">
                        <h4 class="card-title">Registrar histórico</h4>
                        <p class="card-text">
                            Registrar histórico de jogador.
                        </p>
                        @Html.ActionLink("Acessar", "Index", "Jogadores", new { area = "" }, new { @class = "btn fundo-pokerasa-preto text-light" })<br />
                    </div>
                </div>

            </div>
            <br /><br />
        </div>
    </div>



</div>
