﻿@model IEnumerable<pokerasa.Models.Funcionario>

@{
    ViewBag.Title = "Funcionários";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="textodotitulo">Funcionários cadastrados</h1>
<br />

<p>
    @Html.ActionLink("Cadastrar", "Create", new { area = "" }, new { @class = "btn btn-success" })
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">

            <div class="card">
                <div class="card-header fundo-pokerasa-vermelho text-light">
                    @Html.DisplayFor(modelItem => item.Nome)
                </div>
                @*<img class="card-img-top img-fluid" src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/user-male-icon.png" alt="Card image cap">*@
                <div class="card-body text-dark font-weight-bold">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Email)</h5>
                    <div class="card-text">
                        <p>Membro de: @Html.DisplayFor(modelItem => item.casa.NomeDaCasa)</p>
                        <p>E-mail: @Html.DisplayFor(modelItem => item.Email)</p>
                        <p>Login: @Html.DisplayFor(modelItem => item.Login)</p>
                        <p>Casa: @Html.DisplayFor(modelItem => item.casa.NomeDaCasa)</p>
                        <p>
                            
                            <a href="@Url.Action("Edit", new { id = item.UsuarioID})" class="btn btn-lg fundo-pokerasa-preto text-light"><span class="oi oi-wrench"></span></a>
                            <a href="@Url.Action("Details", new { id = item.UsuarioID})" class="btn btn-lg fundo-pokerasa-preto text-light"><span class="oi oi-magnifying-glass"></span></a>
                            <a href="@Url.Action("Delete", new { id = item.UsuarioID})" class="btn btn-lg fundo-pokerasa-preto text-light"><span class="oi oi-circle-x"></span></a>
                          
                            
                        </p>
                    </div>

                </div>
            </div>
            <br />
            <br />

        </div>
    }
</div>