﻿@model IEnumerable<pokerasa.Models.Cidade>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="textodotitulo">Cidades cadastradas</h1>

<p>
    @Html.ActionLink("Nova cidade", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Estado.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CidadeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CidadeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CidadeID })
        </td>
    </tr>
}

</table>
