﻿@{
    Layout = "~/Views/Shared/_LayoutErro.cshtml";
    ViewBag.Title = "Acesso Negado";
}

<div class="container">

    <a href='@Url.Action("Logar", "Publico")'> <img src="~/Content/Image/Permissão.png" class="img-fluid" /></a>
   <hr style="color:white;" />
    <h1 class="textodotitulo text-center text-light">Você não está autorizado a ver a página solicitada.</h1>
    <hr />
    <h4 class="text-center textodastiles text-light">Verifique se você está logado no sistema. Caso ache que esteja vendo essa página por engano, entre em contato com o suporte do Pokerasa. Clique na imagem acima para retornar ao login.</h4>
</div>

