﻿@model IEnumerable<pokerasa.Models.Usuario>
@{
    /**/

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Login";
}

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div id="spinner">  </div>
      
        <div class="form-horizontal">


            @Html.ValidationSummary(true, "", new { @class = "text-light" })


            <div class="jumbotron jumbologin text-light">


                <div class="justify-content-center containerlogin align-items-center">

                    @*<img src="~/Content/Image/Pokerasa-sem-fundo.png" class="imglogin" />*@
                    <h3 class="textodastiles">Insira seus dados de acesso</h3>

                    <hr />
                    <div class="row">
                        <div class="col-12">
                            <div class="form-inline">
                                <label class="control-label">
                                    <span class="oi oi-person">  </span>
                                </label>
                                <input type="text" name="email" id="email" class="form-control formlogin" />
                            </div>

                            <div class="form-inline">

                                <label class="control-label">
                                    <span class="oi oi-key" style="vertical-align: middle;">  </span>
                                </label>
                                <input type="password" name="senha" id="senha" class="form-control formlogin" />

                            </div>
                            <br />
                            <a href="#" onclick="logar();" class="btn fundo-pokerasa-preto text-light" id="botao" style="width: 100%;">Entrar</a>
                            @*<input type="submit" value="Ir" class="btn fundo-pokerasa-preto text-light" id="botao" style="width: 100%;" />*@
                       
                            <hr />
                            <h5 class="text-center font-weight-bold text-light sempadding">@ViewBag.Error</h5><br />
                        

                            <a href="/Publico/Redefinir/" class="text-white">Esqueceu sua senha?</a>

                        </div>
                    </div>


                </div>

            </div>


        </div>

    }
</div>


@section scripts {
    <script>
           $("#botao").click(function () {
           $("#spinner").fadeIn();
        });

        $('#senha').keypress(function (event) {
            var keycode = event.keyCode || event.which;
            if (keycode == '13') {

                $("#spinner").fadeIn();
                logar();
            }
        });

         function logar () {
             $("#spinner").fadeIn();
            var email = $("#email").val();
            var senha = $("#senha").val();
           // alert(email + " - " + senha);
                  
             $.ajax({
                 url: "@Url.Action("LogarAjax", "Publico")",
                 type: "GET",
                 data: { email: email, senha: senha },
                 success: function (response) {

                     var resposta = response;
                     if (resposta == "err") {
                        
                         $("#spinner").fadeOut();
                         alertify.dialog('alert').set({ transition: 'zoom', message: '<h4>Dados de acesso inválidos. Verifique o login e a senha digitados.</h4>', title: 'Acesso negado!', movable: false }).show(); 
                         
                       
                     } else if (resposta == "adm") {
                         window.location.href = "@Url.Action("Home", "Administradores")";
                     } else if (resposta == "jog") {
                         window.location.href = "@Url.Action("Home", "Jogadores")";
                     } else if (resposta == "fun") {
                         window.location.href = "@Url.Action("Home", "Funcionarios")";
                     } else if (resposta == "pro") {
                         window.location.href = "@Url.Action("Home", "Proprietarios")";
                     } else { alert("Erro desconhecido: " + response) }


                 },
                 error: function (response) {
                     alert("Erro desconhecido: " + response);
                 }
             });
        };


    </script>



}

