﻿@{
    Layout = "~/Views/Shared/_LayoutErro.cshtml";
}
<div class="container">
   
    <hr />

    <div class="jumbotron">
        @using (Html.BeginForm("Redefinir", "Publico", null, FormMethod.Post))
    {
        <h1 class="textodotitulo">Redefinir senha</h1>

        <h5>Digite abaixo seu CPF. Se você estiver cadastrado na base de dados, será enviado um e-mail com um link que te redirecionará para o recadastramento de senha.</h5>
        <hr />
        <div class="form-inline">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-12">
                    @*@Html.TextBox("SearchString")*@
                    Digite o seu Cpf: <input type="text" name="Redefinir" id="Redefinir" class="form-control" value="@ViewBag.Pesquisa" />
                    <input type="submit" value="Pesquisar" class="btn btn-secondary fundo-pokerasa-preto" />
                </div>
            </div>
        </div>
}
    </div></div>
        @section Scripts {

            <script src="~/Scripts/jquery-3.0.0.js"></script>
            <script src="~/Scripts/jquery.mask.js"></script>
            <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
            <script src="~/Scripts/bootstrap-datepicker.pt-BR.min.js"></script>
            <script>
                $(function () {


                    $("#Redefinir").mask('000.000.000-00');

                });
            </script>
        }
